.App {
  text-align: center;
  padding: 40px;
}

#video {
  border: 1px solid #999;
  width: 98%;
  max-width: 860px;
}

#log {
  width: 25rem;
  height: 15rem;
  border: 1px solid black;
  padding: 0.5rem;
  overflow: scroll;
}

#downloadButton {
  display: none;
}

.active {
  display: block !important;
}

button {
  background-color: purple;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

#player {
  max-width: 500px;
}
